In [46]:
/*Az 5 leghosszabb helynév*/
SELECT TOP 5 hely AS string, 
        LEN(HELY) AS string_length
FROM Szallashely
GROUP BY hely
ORDER BY 2 DESC

string,string_length
Hajdúbihar megye,16
Csongrád megye,14
Balaton-észak,13
Balaton-dél,11
Békés megye,11

In [48]:
/*Betűrendben az első és utolsó helynév*/
SELECT MIN(hely) AS 'első', 
       MAX(hely) AS 'utolsó'
FROM szallashely
WHERE hely IS NOT NULL
AND LEN(hely) > 0

első,utolsó
Balaton-dél,Tolna megye

In [50]:
/*A helynevek hány karakterből állnak?*/
SELECT MIN(LEN(HELY)) AS 'legrövidebb', 
       MAX(LEN(HELY)) AS 'leghosszabb', 
       AVG(LEN(HELY)) AS 'átlagos hossz'
FROM szallashely
WHERE HELY IS NOT NULL
AND LEN(hely) > 0

legrövidebb,leghosszabb,átlagos hossz
2,16,10

In [51]:
/* csillagok számai*/
SELECT MIN(CSILLAGOK_SZAMA) AS legkevesebb, 
       MAX(CSILLAGOK_SZAMA) AS legtöbb, 
       AVG(CSILLAGOK_SZAMA) AS átlag
FROM szallashely
WHERE CSILLAGOK_SZAMA IS NOT NULL

legkevesebb,legtöbb,átlag
0,4,1

In [70]:
/*A leggyakoribb csillágszám*/
SELECT top 1
    CSILLAGOK_SZAMA AS Csillag, 
    COUNT(*) as 'db'
from szallashely
WHERE CSILLAGOK_SZAMA IS NOT null and CSILLAGOK_SZAMA <> 0
GROUP BY CSILLAGOK_SZAMA
ORDER BY COUNT(*) desc

Csillag,db
3,8

In [7]:
/*csillagok eloszlása*/
SELECT 
    CSILLAGOK_SZAMA as 'Csillagok száma',
    round(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM szallashely),2) AS 'Százalék'
FROM 
    szallashely
GROUP BY 
    CSILLAGOK_SZAMA

Csillagok száma,Százalék
0,45.450000000000
2,4.550000000000
3,36.360000000000
4,13.640000000000