In [1]:
SELECT count(*) as 'Darab'
from Foglalas
where year(METTOL)=year(MEDDIG) and month(METTOL) <> month(MEDDIG)

Darab
131

In [2]:
SELECT szh.TIPUS, round(count(f.FOGLALAS_PK),-2)
 

FROM Foglalas f JOIN Szoba sz on f.SZOBA_FK = sz.SZOBA_ID

                JOIN Szallashely szh on sz.SZALLAS_FK=szh.SZALLAS_ID

GROUP BY szh.TIPUS 

HAVING round(count(f.FOGLALAS_PK),-2)<500

TIPUS,(No column name)
Apartman,100
vendégház,100
panzió,200

In [13]:
/*Készítsünk lekérdezést, amely megmutatja, hogy melyik szobát évente hányszor foglalták le!

a. Jelenítsük meg a szobák azonosítóját, az évszámot és a foglalások számát!

b. A listát szűrjük a 10 db foglalás feletti tételekre

c. A listából hagyjuk ki a páros szobaszámú szobákat*/

SELECT sz.SZOBA_ID, year(f.METTOL) as 'Év', count(f.FOGLALAS_PK) as 'Foglalasok szama'
From Szoba sz join Foglalas f on sz.SZOBA_ID=f.SZOBA_FK
Where (sz.SZOBA_ID % 2) <> 0
GROUP BY sz.SZOBA_ID, year(f.METTOL)
HAVING count(f.FOGLALAS_PK)>10